@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
